.gallery {
    padding-top: 5rem;
    padding-bottom: 8rem;
    background-color: #f5f5f5;
}

.gallery h2 {
    color: var(--color-secondary);
    font-family: "Alex Brush", cursive;
    font-size: 5rem;
    font-weight: bold;
}

.gallery span {
    text-transform: uppercase;
    color: #777;
    font-size: 0.9rem;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 1rem;
}

.gallery p {
    font-size: 1rem;
    font-weight: 300;
}

.gallery-container {
    position: relative;
    text-align: center;
    margin-top: 30px;
}

.gallery-container img {
    width: 600px;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: opacity 0.8s ease;
}

#main-photo {
    transition: opacity 0.4s ease;
}

/* Tombol next & prev */
.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    border: none;
    font-size: 24px;
    padding: 8px 14px;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s;
}

.nav-btn:hover {
    background: rgba(0, 0, 0, 0.7);
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}