.gifts {
    padding-top: 5rem;
    padding-bottom: 8rem;
}

.gifts h2 {
    color: var(--color-secondary);
    font-family: "Alex Brush", cursive;
    font-size: 5rem;
    font-weight: bold;
}

.gifts span {
    text-transform: uppercase;
    color: #777;
    font-size: 0.9rem;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 1rem;
}

.gifts p {
    font-size: 1rem;
    font-weight: 300;
}

.gifts h4 {
    color: var(--bg);
    font-family: "Montserrat";
    font-weight: bold;
}

.gifts img {
    max-width: 250px;
    height: auto;
}

.gifts button {
    background-color: var(--color-secondary);
    color: white;
    border: 1px solid var(--color-secondary);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 12px;
}

.gifts button:hover {
    background-color: var(--color-secondary);
    color: white;
    border: 1px solid var(--color-secondary);
}

/* Media Query */
/* Laptop */
@media (max-width: 1366px) {
}

/* Tablet */
@media (max-width: 768px) {
}

/* Mobile Phone */
@media (max-width: 480px) {
    .gifts img {
        max-width: 75px;
    }
}