.info {
    padding-top: 5rem;
    padding-bottom: 8rem;
    background-color: var(--color-primary);
    color: white;
}

.info h2 {
    color: var(--color-secondary);
    font-family: "Alex Brush", cursive;
    font-size: 5rem;
    font-weight: bold;
}

.info .address {
    font-size: 1.1rem;
}

.info .description {
    font-size: 1rem;
    font-weight: 300;
}

.info .card {
    background-color: rgba(255, 255, 255, 0.2) !important;
    color: white !important;
    border: 1px solid #999;
}

.info .card-header {
    border-bottom: 1px solid #999;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.info .card-body {
    font-size: 1rem;
}

.info .card-footer {
    font-size: 0.9rem;
    font-weight: 300;
    border-bottom: 1px solid #999;
}

/* Media Query */
/* Laptop */
@media (max-width: 1366px) {
    .simply-countdown>.simply-section {
        padding: 70px;
    }
}

/* Tablet */
@media (max-width: 768px) {
    .simply-countdown>.simply-section {
        padding: 60px;
        margin: 5px;
    }
}

/* Mobile Phone */
@media (max-width: 480px) {
    .simply-countdown>.simply-section {
        padding: 35px;
        margin: 3px;
    }
}