.info {
    padding-top: 5rem;
    padding-bottom: 8rem;
    color: var(--color-primary);
}

.info h2 {
    color: var(--color-secondary);
    font-family: "RTL-Adam Script", cursive;
    font-size: 5rem;
}

.simply-section{
    background-color: var(--color-primary);
}

.info .description {
    font-size: 1rem;
    font-weight: 300;
}

.info a {
    text-decoration: none; 
    color: inherit;
}

.info .card {
    color: var(--color-primary) !important;
    border: 1px solid var(--color-primary);
    background-color: white;
}

.info .card-header-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding-top: 2rem;
}

.info .icon-circle {
    width: 5rem;
    height: 5rem;
    background-color: #f5f2f2; /* warna lingkaran */
    border-radius: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.info .icon-circle i {
    color: var(--color-primary); /* warna icon */
    font-size: 2.5rem;
}

.info .card-header {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.8rem;
    font-weight: 700;
    background-color: white;
    border-bottom: 0px;
}

.info .card-body {
    color: black;
    background-color: white;
    font-size: 1.2rem;
    border-bottom: 0px;
}

.info .card-divider {
    background-color: white;
    padding-top: 1rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: center; /* vertical center */
    justify-content: center;
    gap: 10px; /* jarak icon ke garis */
}

.card-divider::before,
.card-divider::after {
    content: "";
    height: 1px;
    width: 4rem;
    background-color: var(--color-primary); /* warna garis */
}

.info .card-footer {
    color: black;
    background-color: white;
    font-size: 0.9rem;
    font-weight: 300;
    border-top: 0px;
    border-bottom: 1px solid #999;
    line-height: 2;
    padding-bottom: 2rem;
}

.info .card-footer-header {
    color: var(--color-primary);
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    font-weight: 600;
    padding-bottom: 0.5rem;
}

/* Media Query */
/* Laptop */
@media (max-width: 1366px) {
    .simply-countdown>.simply-section {
        padding: 70px;
    }
}

/* Tablet */
@media (max-width: 768px) {
    .simply-countdown>.simply-section {
        padding: 60px;
        margin: 5px;
    }
}

/* Mobile Phone */
@media (max-width: 480px) {
    .simply-countdown>.simply-section {
        padding: 35px;
        margin: 3px;
    }
}