.info {
    padding-top: 5rem;
    padding-bottom: 8rem;
    background-color: var(--color-primary);
    color: white;
}

.info h2 {
    color: var(--color-secondary);
    font-family: "RTL-Adam Script", cursive;
    font-size: 5rem;
}

.info .address {
    font-size: 1.1rem;
}

.info .description {
    font-size: 1rem;
    font-weight: 300;
}

.info a {
    background-color: var(--color-secondary);
    color: white;
    border: 1px solid var(--color-secondary);
}

.info a:hover {
    background-color: white;
    color: var(--color-secondary);
    border: 1px solid white;
}

.info .card {
  height: 280px;
  position: relative;
  padding: 25px;
  background: radial-gradient(178.94% 106.41% at 26.42% 106.41%, #FFF7B1 0%, rgba(255, 255, 255, 0) 71.88%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #FFFFFF;
  box-shadow: 0px 155px 62px rgba(0, 0, 0, 0.01), 0px 87px 52px rgba(0, 0, 0, 0.05), 0px 39px 39px rgba(0, 0, 0, 0.09), 0px 10px 21px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 23px;
  transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1);
  cursor: pointer;
  margin-bottom: 2rem;
}

.info .card:hover {
  transform: scale(1.05);
}

.info .card-container {
  width: 250px;
  height: 250px;
  position: absolute;
  right: -35px;
  top: -50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.7);
}

.info .card-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info .card-header span:first-child {
  font-family: "Times New Roman";
  word-break: break-all;
  font-weight: 800;
  font-size: 3rem;
  line-height: 135%;
  color: rgba(87, 77, 51);
  margin-bottom: 0;
}

.info .card-header span {
  font-weight: 700;
  font-size:  1.25rem;
  line-height: 135%;
  color: rgba(87, 77, 51, 0.66);
  margin-bottom: 1.5rem;
}

.info .temp {
  position: absolute;
  left: 25px;
  bottom: 1rem;
  font-weight: 700;
  font-size: 0.7rem;
  color: rgba(87, 77, 51, 1);
}

.info .temp span:first-child {
  font-size: 1.2rem;
}

.info .temp-scale {
  width: 5rem;
  height: 36px;
  position: absolute;
  right: 1.5rem;
  bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.06);
  border-radius: 9px;
}

.info .temp-scale span {
  font-weight: 700;
  font-size: 1rem;
  line-height: 134.49%;
  color: rgba(87, 77, 51, 0.66);
}

/* Media Query */
/* Laptop */
@media (max-width: 1366px) {
    .simply-countdown>.simply-section {
        padding: 70px;
    }

    .info .card-header span:first-child {
        font-size: 2.3rem;
    }

    .info .card-header span {
        font-size: 1.3rem;
    }

    .info .temp {
        bottom: 2rem;
    }

    .info .temp span:first-child {
        font-size: 0.8rem;
    }

    .info .temp span {
        font-size: 0.5rem;
    }

    .info .temp-scale {
        right: 2rem;
        bottom: 2rem;
    }
}

/* Tablet */
@media (max-width: 768px) {
    .simply-countdown>.simply-section {
        padding: 60px;
        margin: 5px;
    }
}

/* Mobile Phone */
@media (max-width: 480px) {
    .simply-countdown>.simply-section {
        padding: 35px;
        margin: 3px;
    }

    .info .card {
        height: 200px;
    }

    .info .temp {
        bottom: 2rem;
    }

    .info .temp span:first-child {
        font-size: 1.25rem;
    }

    .info .temp span {
        font-size: 0.7rem;
    }

    .info .temp-scale {
        right: 2rem;
        bottom: 2rem;
    }
}