@import url('style.css');
@import url('landing.css');
@import url('home.css');
@import url('groom-bride.css');
@import url('info.css');
@import url('gallery.css');
@import url('rsvp.css');
@import url('gifts.css');
@import url('footer.css');
@import url('audio.css');
@import url('animation.css');