:root {
    --bg: #0a0a0a;
    --shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    --color-primary: #1A2A5A;
    --color-secondary: #C9A14A;
}

body {
    font-size: 1.2rem;
    font-family: "Work Sans", sans-serif;
    min-height: 4000px;
    overflow-x: hidden;
}

/* Media Query */
/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }

    .groom-bride p {
        color: #555;
        font-size: 1.5rem;
        font-family: "Montserrat";
    }

    .groom-bride .couple h3 {
        color: var(--color-primary);
        font-family: "Alex Brush", cursive;
        font-size: 4rem;
    }

    .simply-countdown>.simply-section {
        padding: 70px;
    }

    .gallery-container img {
        width: 500px;
    }
}

/* Tablet */
@media (max-width: 768px) {
    html {
        font-size: 65%;
    }

    .groom-bride p {
        color: #555;
        font-size: 1.8rem;
        font-family: "Montserrat";
    }

    .groom-bride .couple h3 {
        color: var(--color-primary);
        font-family: "Alex Brush", cursive;
        font-size: 4.4rem;
    }

    .simply-countdown>.simply-section {
        padding: 60px;
        margin: 5px;
    }

    .gallery-container img {
        width: 400px;
    }
}

/* Mobile Phone */
@media (max-width: 576px) {
    html {
        font-size: 60%;
    }

    .groom-bride p {
        color: #555;
        font-size: 1.8rem;
        font-family: "Montserrat";
    }

    .groom-bride .couple h3 {
        color: var(--color-primary);
        font-family: "Alex Brush", cursive;
        font-size: 4.4rem;
    }

    .simply-countdown>.simply-section {
        padding: 35px;
        margin: 3px;
    }

    .gallery-container img {
        width: 300px;
    }

    #wish-list {
        min-height: 500px;
    }

    .gifts img {
        max-width: 75px;
    }
}