:root {
    --bg: #0a0a0a;
    --shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    --color-primary: #1A2A5A;
    --color-secondary: #C9A14A;
}

body {
    font-size: 1.2rem;
    font-family: "Work Sans", sans-serif;
    min-height: 4000px;
    overflow-x: hidden;
}

/* Media Query */
/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }
}

/* Tablet */
@media (max-width: 768px) {
    html {
        font-size: 65%;
    }
}

/* Mobile Phone */
@media (max-width: 480px) {
    html {
        font-size: 60%;
    }

    #wish-list {
        min-height: 500px;
    }
}